.mode{
    position: absolute;
    right: 10px;
    top: 10px;
} 
label{
    margin-left: 1400px;
    width:100px;
    height:40px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 40px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
} 

label:after {
    content: "";
    width:20px;
    height: 20px;
    position: absolute;
    top:10px;
    left:10px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
input {
    width: 0;
    height: 0;
    visibility: hidden;
}
input:checked + label {
    background: #242424;
}
input:checked + label:after {
    left:90px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
}
label, label:after {
    transition: 0.3s
}
label:active:after{ 
    width: 40px; 
}

body{
    margin: 0px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #C69749;
}
/* color: #40514e; */
figure {
    width:30%;
    margin:0px;
    text-align:center;
    padding:0px;
    display: inline-block;
}
figcaption {
    color: #EAF6F6;
    font-family: 'Poppins', sans-serif;
    /* font-style: italic; */
    /* padding: 2px;  */
    text-align: center;
}
.category{
    text-align: center;
    margin: 10px 10px;
    padding-bottom: 50px;
    padding-top: 30px;
}

p{
    font-family: 'Poppins', sans-serif;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
h1{
    margin-top: 0px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #C69749;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: #C69749;
    font-weight: normal;
    padding: 10px;
}
h3{
    font-family: 'Poppins', sans-serif;
    color: #f0b73c;
}
a{
    color: #946d1b;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.top-container{
    /* background-color: #E3FDFD; */
    background-color: #28282B;
    position: relative;
    padding-top: 100px;
}
.table{
    width: 24%;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.pfp{
    height: 200px;
    width: 200px;
}
.intro{
    width: 30%;
    margin: auto;
    color: #EAF6F6;
}
.skillicon{
    width: 15%;
    padding: 10px;
}
.guitar{
    width: 10%;
    float: left;
    margin-left: 30px;
}
/* .skill-row{
    width: 50%;
    margin: auto;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
} */
.middle-container{
    background-color: #343434;
    padding: 100px 0;
}
.contact-message{
    margin: 40px auto 60px;
}
.bottom-container{
    /* background-color: #735F32; */
    background-color: #28282B;
    padding: 50px 0 20px;
    text-align: center;
}
.footer-link{
    color: #f2c055;
    margin: 30px 30px auto 30px;
    line-height: 2;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.btn {
    background: #f2b93d;
    background-image: -webkit-linear-gradient(top, #f2b93d, #946d1b);
    background-image: -moz-linear-gradient(top, #f2b93d, #946d1b);
    background-image: -ms-linear-gradient(top, #f2b93d, #946d1b);
    background-image: -o-linear-gradient(top, #f2b93d, #946d1b);
    background-image: linear-gradient(to bottom, #f2b93d, #946d1b);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 30px auto 30px auto;
  }
  
  .btn:hover {
    background: #f2c055;
    background-image: -webkit-linear-gradient(top, #f2c055, #a68338);
    background-image: -moz-linear-gradient(top, #f2c055, #a68338);
    background-image: -ms-linear-gradient(top, #f2c055, #a68338);
    background-image: -o-linear-gradient(top, #f2c055, #a68338);
    background-image: linear-gradient(to bottom, #f2c055, #a68338);
    text-decoration: none;
  }
